body {
    margin: 0;
    font-family: "Arial";
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;

    text-align: center;

    background: #fff;
    border-bottom: #eee 1px solid;
}

#canvas {
    display: block;
}
